export(complex_matrix_operations)
export(cp_decomposition_wrapper)
export(CPfunc)
export(hosvd_decomposition)
export(mpca_decomposition)
export(perform_matrix_operations)
export(tensor_products)
export(tucker_decomposition)
import(rTensor)
importFrom(methods,is)
