export(adjusted_rand_index)
export(complex_matrix_operations)
export(cp_decomposition_wrapper)
export(CPfunc)
export(fit_homoscedastic_gaussian_mixture)
export(fit_scr_s2)
export(fit_scr_s3)
export(ftoh)
export(generate_gaussian_mixture)
export(genmixhet)
export(hard_partition)
export(hosvd_decomposition)
export(mixhom)
export(mpca_decomposition)
export(mrand)
export(perform_matrix_operations)
export(run_scr_simulation)
export(scr_simulation_config)
export(simula1)
export(simula2)
export(t2mixt)
export(t3mixs)
export(tensor_products)
export(tucker_decomposition)
import(rTensor)
importFrom(methods,is)
