export(adjusted_rand_index)
export(complex_matrix_operations)
export(cp_decomposition_wrapper)
export(CPfunc)
export(ftoh)
export(hard_partition)
export(hosvd_decomposition)
export(mpca_decomposition)
export(mrand)
export(perform_matrix_operations)
export(tensor_products)
export(tucker_decomposition)
import(rTensor)
importFrom(methods,is)
